# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
env/

# pytest
.pytest_cache/

# Ruff
.ruff_cache/

# mypy
.mypy_cache/

# coverage
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# dotenv
.env

# OS
.DS_Store
